* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
  font-style: normal;
}

body {
  background-color: #fafafa;
  margin-top: 5vh;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: #00755e;
  border: 6px solid #ffa500;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

header img {
  height: 128px;
  padding-right: 10px;
  transform: rotate(-25deg);
}

header h1 {
  font-size: 48px;
  font-style: normal;
  color: #fafafa;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 48px;
}

form input {
  width: 500px;
  background-color: #fff;
  color: #000;
  border: 2px solid #00755e;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
  padding: 8px;
  transition: border-color 0.3s ease;
  outline: none;
}

#nota-atividade {
  width: 100px;
}

input::placeholder {
  color: black;
}

form input:hover {
  border-color: #ffa500;
}

form button {
  background-color: #00755e;
  color: #fff;
  border-color: #ffa500;
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
  padding: 3px 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #ffa500;
  border-color: #fff;
}

table {
  color: #FFF;
  width: 90%;
  margin: 0 auto;
}

table th {
  border-bottom: 5px solid #FFF;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
}

table td {
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img {
  height: 30px;
}

.resultado {
  padding: 3px;
  font-weight: bold;
  color: #fff;
  background-color: #ffa500;
  border-radius: 3px;
}

.aprovado {
  background-color: #005a1e;
}

.reprovado {
  background-color: red;
}
